<!-- project_name/templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <
    
    <style>
        
        body {
            
            background-image: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Style for the login card */
        .card {
            border-radius: 1rem;
        }
    </style>
</head>
<body>

<div class="container mt-5 ">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6    ">
            <div class="card bg-dark text-white my-5">
                <div class="card-body p-3  text-center">
                    <h2 class="fw-bold mb-2 text-uppercase">SignUp</h2>
                    <p class="text-white-50 ">Please enter your details!</p>
                    
                    <form action="/signup" method="POST">
                        {% csrf_token %}
                    <div class="form-outline form-white mb-4">
                        <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="username(Only letters and numbers)" required>

                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="fname" name="fname" class="form-control form-control-lg" placeholder="Enter your first name" required>

                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="lname" name="lname" class="form-control form-control-lg" placeholder="Enter your last name" required>

                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter your email" required>

                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="password" id="pass1" name="pass1" class="form-control form-control-lg" placeholder="Enter a password" >

                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="password" id="pass2" name="pass2" class="form-control form-control-lg" placeholder="Confirm password" >

                    </div>

                    
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
